.container {
  min-height: 100vh;
  padding: 4rem 2rem 10rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

@media (max-width: 768px) {
  .container {
    padding: 2rem 1rem 8rem 1rem;
  }
}
